<p><strong>Estadísticas:</strong></p>
<p>- Número de preguntas: <%= statictics.quiz%> </p>
<p>- Número de comentarios: <%= statictics.note%> </p>
<p>- Comentarios medios por pregunta: <%= statictics.note_gymko%> </p>
<p>- Preguntas con comentarios: <%= statictics.withNote%> </p>
<p>- Preguntas sin comentarios: <%= statictics.woutNote%> </p>
