<p><strong>Estadísticas:</strong></p>
<p>- Users: <%= statictics.user%> </p>
<p>- Users activos: <%= statictics.user_active%> </p>
<p>- Número de Gymkos: <%= statictics.gymko%> </p>
<p>- Número de comentarios: <%= statictics.note%> </p>
<p>- Preguntas con comentarios: <%= statictics.withNote%> </p>
<p>- Seguidores: <%= statictics.player%> </p>
